USE [master]
GO
/****** Object:  Database [AIBulb]    Script Date: 23/4/2023 21:33:10 ******/
CREATE DATABASE [AIBulb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AIBulb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MIRRORINSTANCE\MSSQL\DATA\AIBulb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AIBulb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MIRRORINSTANCE\MSSQL\DATA\AIBulb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AIBulb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AIBulb]
GO
/****** Object:  Table [dbo].[ContractTypes]    Script Date: 23/4/2023 21:33:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractTypes](
	[idContractT] [int] NOT NULL,
	[description] [varchar](100) NOT NULL,
	[idService] [int] NOT NULL,
 CONSTRAINT [PK_ContractTypes] PRIMARY KEY CLUSTERED 
(
	[idContractT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fees]    Script Date: 23/4/2023 21:33:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fees](
	[idFee] [int] NOT NULL,
	[idPayment] [int] NOT NULL,
	[amount] [float] NOT NULL,
 CONSTRAINT [PK_Fees] PRIMARY KEY CLUSTERED 
(
	[idFee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 23/4/2023 21:33:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[idPayment] [int] NOT NULL,
	[idService] [int] NOT NULL,
	[idDWallet] [int] NOT NULL,
	[amountProvider] [float] NOT NULL,
	[paymentDate] [date] NOT NULL,
	[finalAmount] [float] NOT NULL,
	[idContractT] [int] NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[idPayment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentXTaxes]    Script Date: 23/4/2023 21:33:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentXTaxes](
	[idPayment] [int] NOT NULL,
	[idTax] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Taxes]    Script Date: 23/4/2023 21:33:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taxes](
	[idTax] [int] NOT NULL,
	[idCountry] [int] NOT NULL,
	[description] [varchar](50) NOT NULL,
	[percentage] [float] NOT NULL,
 CONSTRAINT [PK_Taxes] PRIMARY KEY CLUSTERED 
(
	[idTax] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [FK_Fees_Payments] FOREIGN KEY([idPayment])
REFERENCES [dbo].[Payments] ([idPayment])
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [FK_Fees_Payments]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_ContractTypes] FOREIGN KEY([idContractT])
REFERENCES [dbo].[ContractTypes] ([idContractT])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_ContractTypes]
GO
ALTER TABLE [dbo].[PaymentXTaxes]  WITH CHECK ADD  CONSTRAINT [FK_PaymentXTaxes_Payments] FOREIGN KEY([idPayment])
REFERENCES [dbo].[Payments] ([idPayment])
GO
ALTER TABLE [dbo].[PaymentXTaxes] CHECK CONSTRAINT [FK_PaymentXTaxes_Payments]
GO
ALTER TABLE [dbo].[PaymentXTaxes]  WITH CHECK ADD  CONSTRAINT [FK_PaymentXTaxes_Taxes] FOREIGN KEY([idTax])
REFERENCES [dbo].[Taxes] ([idTax])
GO
ALTER TABLE [dbo].[PaymentXTaxes] CHECK CONSTRAINT [FK_PaymentXTaxes_Taxes]
GO
USE [master]
GO
